* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-cream: #fdf2e9;
  --color-orange: #e67e22;
  --color-orange--dark:rgb(188, 120, 61);
  --color-black: #45260a;
  --color-yellow: #ffd43b;
  --color-green: #51cf66;
  --color-green--light: #94d82d;
  --color-red:#e95a5a;
  --color-blue:#a9a9ea;

}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: var(--color-cream);
}



.section-contact,
.section-home {
  padding: 4.8rem 0 9.6rem 0;
}

.section-menu {
  padding:4.8rem 0 6rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}


/* REUSABLE Style */
.flex {
  display:flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.flex-center--vert {
  align-items: center;
}

.grid {
  display:grid;
}

.grid--2-column {
  grid-template-columns: 1fr 1fr;
}

.gap--es {
  gap:1.4rem;
}

.gap--sm {
  gap:1.8rem;
}

.gap--md {
  gap: 3.2rem;
}

.gap--lg {
  gap: 4.8rem;
}

.gap--el {
  gap:9.6rem;
}

.margin-bottom--sm {
  margin-bottom:1rem;
}

.margin-bottom--md {
  margin-bottom: 3.2rem;
}

.margin-bottom--lg {
  margin-bottom: 4.8rem;
}

.margin-right--es {
  margin-right:0.5rem;
}

.margin-right--md {
  margin-right:2rem;
}

.heading--primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;

  color:var(--color-black);
}

.heading--secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;

  color:var(--color-black);
}

.center-text {
  text-align: center;
}

.font-size--sm {
  font-size: 1.6rem;
  
}

.btn {
  padding:1.2rem 2.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border:none;
  border-radius:9px;
  cursor:pointer;
}

.btn-nav {
  color:var(--color-white);
  background-color: var(--color-orange);
}

.active {
  box-shadow: 0px 0px 5px var(--color-black);
}

.btn--full {
  background-color: var(--color-orange);
  color:var(--color-white);
}

.btn--outline {
  background-color: var(--color-white);
  color:var(--color-black);
}

.btn-form {
  width:30%;
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
}




.icon {
  color: var(--color-orange);
}


